@import url("https://use.typekit.net/tzv3rms.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "darkmode-on-cc", sans-serif;
	font-style: normal;
}

/* Text Styles */
.hair {
	font-weight: 100;
}

.thin {
	font-weight: 200;
}

.light {
	font-weight: 300;
}

.regular {
	font-weight: 400;
}

.medium {
	font-weight: 500;
}

.semibold {
	font-weight: 600;
}

.bold {
	font-weight: 700;
}

.xbold {
	font-weight: 800;
}

.black {
	font-weight: 900;
}

.italic {
	font-style: italic;
}

.accent-blue {
	color: #00b8d4;
}

/* Components */

.purple-button {
	background-color: #565ade;
	color: #e0e0e0;
	width: fit-content;
	min-width: 200px;
	padding: 16px;
	max-height: 70px;
	border-radius: 100px;
	font-size: 20px;
	border: none;
	cursor: pointer;
}

.purple-button:hover {
	background-color: #4c4cde;
	transition: 0.3s;
	transform: translateY(1px);
}

/*effect-underline*/
a.effect-underline {
	position: relative;
	display: inline-block;
}

a.effect-underline:after {
	content: "";
	position: absolute;
	left: 0;
	display: inline-block;
	height: 1em;
	width: 100%;
	border-bottom: 1px solid;
	margin-top: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
}

a.effect-underline:hover:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
