@import url("https://use.typekit.net/tzv3rms.css");

:root[data-theme="dark"] {
	--purple: #565ade;
	--background: #121212;
	--primary-text: #e0e0e0;
	--secondary-text: #b0b0b0;
	--accent: #00b8d4;
	--secondary-accent: #81c784;
	--error: #ff5252;
	--error-hover: #ff8a80;
	--border-divider: #1a1a1a;
	--secondary-border-divider: #242424;
}

:root[data-theme="light"] {
	--purple: #565ade;
	--background: #F2F3F5; /*mørkest*/
	--primary-text: #1A1A1A;
	--secondary-text: #4A4A4A;
	--accent: #00b8d4;
	--secondary-accent: #81c784;
	--error: #ff5252;
	--error-hover: #ff8a80;
	--border-divider: #F7F8F9; /*lysere*/
	--secondary-border-divider: #ffffff; /*lysest*/
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "darkmode-on-cc", sans-serif;
	font-style: normal;
}

body {
	overflow-x: hidden;
	background-color: var(--background);
}

::selection {
	color: white;
	background-color: var(--accent);
}

/* Skjuler scrollbaren for WebKit-baserte nettlesere (Chrome, Safari) */
.rm-scrollbar::-webkit-scrollbar {
	display: none;
}

/* For Firefox */
.rm-scrollbar {
	scrollbar-width: none; /* Skjuler scrollbaren */
}

/* For IE/Edge (eldre versjoner) */
.rm-scrollbar {
	-ms-overflow-style: none; /* Skjuler scrollbaren */
}

/* Text Styles */
.hair {
	font-weight: 100;
}

.thin {
	font-weight: 200;
}

.light {
	font-weight: 300;
}

.regular {
	font-weight: 400;
}

.medium {
	font-weight: 500;
}

.semibold {
	font-weight: 600;
}

.bold {
	font-weight: 700;
}

.xbold {
	font-weight: 800;
}

.black {
	font-weight: 900;
}

.italic {
	font-style: italic;
}

.accent-blue {
	color: var(--accent);
}

/* Components */

/* Button */

.button {
	width: fit-content;
	min-width: 150px;
	padding: 15px 30px;
	border-radius: 50px;
	font-size: 17px;
	border: none;
	cursor: pointer;
	color: #e0e0e0;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
	position: relative;
	overflow: hidden;
	background-size: 200% 200%;
}

.button:hover {
	animation: rotateGradient 3s linear infinite;
}

.purple {
	background-image: linear-gradient(45deg, var(--purple), var(--accent));
}

.purple:hover {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 5px var(--secondary-accent);
}

.button:active {
	transform: translateY(0);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button.error {
	background-image: linear-gradient(45deg, var(--error), var(--error-hover));
	text-align: center;
	text-decoration: none;
}

.button.error:hover {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 5px var(--secondary-accent);
}

@keyframes rotateGradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*effect-underline*/
a.effect-underline {
	position: relative;
	display: inline-block;
}

a.effect-underline:after {
	content: "";
	position: absolute;
	left: 0;
	display: inline-block;
	height: 1em;
	width: 100%;
	border-bottom: 1px solid;
	margin-top: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
}

a.effect-underline:hover:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.menu--right a.effect-underline {
	position: relative;
	display: inline-block;
}

.menu--right a.effect-underline:after {
	content: "";
	position: absolute;
	left: 0;
	display: inline-block;
	height: 1em;
	width: 100%;
	border-bottom: 1px solid;
	margin-top: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
}

.menu--right a.effect-underline:hover:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/* Markdown */
.copy-to-clipboard-button {
	height: 24px;
	cursor: pointer;
}

pre code {
	white-space: pre-wrap !important;
}
